body {
  background-color: rgb(231, 233, 252);
}

input[type="email"]:invalid {
  color: red;
}

.error {
  color: red;
}

.success {
  color: green;
}

h1 {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .display-2 {
    font-size: 55px;
  }
}
