body {
  background-color: rgb(194, 210, 238);
}

input[type="email"]:invalid {
  color: red;
}

.error {
  color: red;
}

.success {
  color: green;
}

h1 {
  text-decoration: underline;
}

.login-link {
  color: rgb(11, 101, 171);
}

.upvoted,
.not-upvoted {
  width: 25px;
  height: 25px;
}

@media (max-width: 600px) {
  .display-2 {
    font-size: 55px;
  }
}
