body {
  background-color: rgb(227, 187, 203);
}

input[type="email"]:invalid {
  color: red;
}

.error {
  color: red;
}

.success {
  color: green;
}

.card {
  margin: 10px;
}

.avatar-img {
  width: 200px;
  height: 212px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}
